* {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
body {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
    word-break: keep-all;

}
.mainSection {
    min-height: 100vh;
    background-image: url(image/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    padding-bottom: 50px;
}
.maintext {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    /* height: 100vh; */
}
.maintext > .img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.mainSectionTitle {
    font-size: 32px;
    font-weight: 700;
}
.maintext > .img {
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.textBoard {
    background-color: white;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border: 2px solid rgba(0, 0, 255, .2);
    padding: 30px;
    color: black;
    font-size: 18px;
}
.cardboard {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.cardboard > img {
    width: 100px;
}

@media (max-width:500px) {
    .cardboard > img {
        width: 50px;
    }
}
.buttonBox {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#result {
    width: 150px;
    font-size: 18px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 100%;
    margin-left: 10px;
}
#result:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

@keyframes color3 {
    0% {
        color: transparent;
        
    }
    100% {
        color: white;
    }
}
.ani, .ani2 {
    animation-name: color3;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes color2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
.cardsetAni {
    animation-name: color2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes color1 {
    0% {
        opacity: 0;
        padding-top: 50px;
    }
    100% {
        opacity: 1;
        padding-top: 0px;
    }
}

.cardsetboard {
    animation-name: color1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.hide {
    display: none;
}

.border1 {
    border-radius: 5px;
    border: 5px solid yellow;
}
.border2 {
    border-radius: 5px;
    border: 5px solid rgb(49, 255, 84);
}
.border3 {
    border-radius: 5px;
    border: 5px solid rgb(231, 45, 45);
}