* {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
body {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
    word-break: keep-all;

}
.mainSection {
    min-height: 100vh;
    background-image: url(image/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: auto;
    margin-bottom: auto;
}
.maintext {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}
.maintext > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mainSectionTitle {
    font-size: 32px;
    font-weight: 700;
}
.maintext > img {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.textBoard {
    background-color: white;
    background-position: center;
    border-radius: 3rem;
    /* border: 5px solid rgb(133, 29, 29); */
    box-shadow: 7px 7px 0px rgb(255, 0, 234) ;
    padding: 30px;
    color: black;
    font-size: 22px;
    font-weight: 700;
    font-family: "";
}

.mainButtonBox {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
}
.mainButtonBox > button , #next {
    width: 150px;
    font-size: 18px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mainButtonBox > button:hover , #next:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

@keyframes color3 {
    0% {
        color: transparent;
        
    }
    100% {
        color: black;
    }
}
.ani, .ani2 {
    animation-name: color3;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}


.title {
    text-align: center;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    padding: 10px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mainButtonBox2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainButtonBox2 > a {
    width: 25%;
}
.mainButtonBox2 > a > button {
    width: 100%;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
}
.mainButtonBox2 > a > button:hover {
    width: 100%;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    border: 1px solid black;
}